# Dependencies
node_modules/
*/node_modules/

# Environment files
.env.local
.env.*.local
.env

# IDE files
.vscode/
*.swp
*.swo

./IOT/My_WiFi/certs.h
# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.log

# Docker volumes
postgres_data/
pgadmin_data/

nginx/data/letsencrypt/
nginx/data/custom_ssl/
nginx/data/logs/
nginx/data/database/

# certyfikaty prywatne
*.key
*.pem
*.crt