$title-crl-secondary: rgb(34, 37, 43);
$title-crl-primary: rgb(255,20,147);
$background-crl-primary: rgb(255, 255, 0);
$btn-hover-crl-primary: rgba(100, 100, 100, 0.527);
$background-crl-secondary: rgb(182, 174, 174);